# Created by https://www.gitignore.io/api/webstorm,node,sass

## Directory-based project format:
.idea/

## File-based project format:
*.ipr
*.iws

### Node ###
# Logs
logs
*.log
npm-debug.log*

# Dependency directory
# https://docs.npmjs.com/misc/faq#should-i-check-my-node-modules-folder-into-git
/node_modules

### Sass ###
.sass-cache/
*.css.map

### iMDone ###
.imdone/

### the static build ###
build/

### generated scripts ###
/gulpfile.js.map
/gulpfile.js
scripts/

### Dolphin ###
.directory

### incoming stuff dir ###
.in/
