nav.b-Masthead__topNav
    ul
        li
            a(href='/') home
        li
            a(href='/blog/') blog
        li
            a(href='/learning/') learning
        li
            a(href='/me/') me