@import url(https://fonts.googleapis.com/css?family=Cousine);
@import url(https://cdn.jsdelivr.net/font-hack/2.018/css/hack-extended.min.css);

/*
  @include-media breakpoints.
  Those are the defaults, actually, but let's be explicit:
    we'll be using those three keys for all our responsive settings.
*/
$breakpoints: (phone: 320px, tablet: 768px, desktop: 1024px);

$font-family: (Hack, Cousine, 'PT Mono', monospace);
$font-size: 15px;
$line-height: $font-size*1.5;
$l-pad: ($line-height - $font-size) / 2;

$color-obsidian: #192124;
