@import url(https://fonts.googleapis.com/css?family=Cousine);

$font-family: (Cousine, 'PT Mono', monospace);
$font-size: 16px;
$line-height: $font-size*1.5;

body, p, div, article, h1, h2, h3, h4, h5, h6 {
  // We could use shorthand if libsass didn't try to _divide_ font-size by font-height ;)
  font-family: $font-family;
  font-size: $font-size;
  line-height: $line-height;
  font-weight: normal;

  color: #d6e5c4;
  background-color: #2f2a24;
}

p {
  margin-bottom: $line-height;
}

.b-post__header {
  margin: $line-height*2 0 $line-height 0;
}

h1 {
  font-size: $font-size*2;
  line-height: $font-size*2;
}