extends ./page/page.jade
//-
block header
    .b-Masthead__breadcrumbs
        a(href='/') hoichi.io
        = ' / '
    h1 blog
block content
    each post in posts
        .b-post
            h2.b-post__header
                a.b-post__header-link(href=post.link)= post.title
            .b-post-meta
            .b-post__body
                p
                    a.b-post__more(href=post.link)
                        | !{post.excerpt}
                        br
                        | ...
