extends ./page/page.jade
//-

block header
    .b-Masthead__breadcrumbs
        a(href='/') hoichi.io
        = ' / '
        a(href='/' + page.category.slug + '/')= page.category.title
        = ' / '
    h1= page.title
block content
    block content__article
        article
            != page.content
    block content__footer
        footer
            //a.muut(href='https://muut.com/i/hoichi-io/comments'+page.href, data-show_title='false') hoichi-io
            //script(src='//code.jquery.com/jquery-1.11.2.min.js')
            //script(src='//cdn.muut.com/1/moot.min.js')
