extends ./page/page.jade
//-
block h__title
title= 'i.i / ' + page.category + '/ ' + page.title

block header
    .b-Masthead__breadcrumbs
        a(href='/') hoichi.io
        = ' / '
        if (page.category)
            a(href='/' + page.category + '/')= page.category
            = ' / '
    h1= page.title
block content
    block content__article
        article
            != page.content
    block content__footer
