extends ./page/page.jade
//-

block header
    .b-Masthead__breadcrumbs
        a(href='/') hoichi.io
        = ' / '
        a(href='/' + page.category.slug + '/')= page.category.title
        = ' / '
    h1= page.title
block content
    article
        != page.content
    footer
        | <a class="muut" href="https://muut.com/i/hoichi-io/comments" type="dynamic">hoichi-io</a>
        | <script src="//cdn.muut.com/1/moot.min.js"></script>
