extends ./page/page.jade
//-

block header
    .b-Masthead__breadcrumbs
        a(href='/') hoichi.io
        = ' / '
        a(href='/' + page.category.slug + '/')= page.category.title
        = ' / '
    h1= page.title
block content
    article
        != page.content