.b-Content {
  width: 80%;
  max-width: 700px;
  margin: 0 auto;
  text-align: left;
}

.b-post {
  margin-bottom: $line-height * 2;
}

.b-post__header {
  @include media('>=tablet') {
    margin-left: -13ch;
  }
}

.b-post__date {
  @include media('>=tablet') {
    display: inline-block;
    text-align: right;
  }

  width: 12ch;

  color: $hdr-meta-color;
}

.b-post__title {
  @include media('>=tablet') {
    display: inline-block;
  }
}

.b-post__more {
  text-decoration: none;

  &:hover,
  &:focus,
  &:active {
    text-decoration: underline;
  }
}

.b-Content__meta-date {
  text-align: right;
  color: $page-meta-color;
}