.b-Content {
  width: 80%;
  max-width: 700px;
  margin: 0 auto;
  text-align: left;
}

.b-desc {
  font-style: italic;
}

.b-post {
  margin-bottom: $line-height * 2;
}

.b-post__header {
  @include media('>=tablet') {
    margin-left: -13ch;
  }
}

.b-post__date {
  @include media('>=tablet') {
    display: inline-block;
    text-align: right;
  }

  width: 12ch;

  color: $hdr-meta-color;
}

.b-post__title {
  @include media('>=tablet') {
    display: inline-block;
  }
}

.b-post__more {
  text-decoration: none;

  &:hover,
  &:focus,
  &:active {
    text-decoration: underline;
  }
}

.Content {
  p, pre, ul, ol {
    margin-bottom: $line-height;
  }

  ul {
    list-style-type: none;

    li {
      &::before {
        content: '- ';
      }

      text-indent: -2ch;

      ul {
        margin-left: 4ch;
        margin-bottom: 0;
      }
    }
  }
}

article {
  @mixin hashed-header($level) {
    // prepend the header text with $level*hash signs (plus one space)
    $prefix: ' ';
    @for $i from 1 through $level {
      $prefix: '##{$prefix}'
    }
    &::before {
      content: $prefix;
    }

    // _and_ move it left so the header text is aligned with the paragraphs
    margin-left: -#{$level+1}ch;
  }

  @mixin hashed-header($level) {
    // prepend the header text with $level*hash signs (plus one space)
    $prefix: ' ';
    @for $i from 1 through $level {
      $prefix: '##{$prefix}'
    }
    &::before {
      content: $prefix;
    }

    // _and_ move it left so the header text is aligned with the paragraphs
    margin-left: -#{$level+1}ch;
  }

  @for $i from 2 through 6 {
    h#{$i} {
      @include hashed-header($i)
    }
  }
}

.b-Content__meta-date {
  text-align: right;
  color: $page-meta-color;
}