.b-Content {
  width: 80%;
  max-width: 700px;
  margin: 0 auto;
  text-align: left;
}

.b-post {
  margin-bottom: $line-height * 2;
}

.b-post__header {
  font-weight: bold;
  margin-left: -2ch;

  &::before {
    content: '# ';
  }
}

.b-post__more {
  text-decoration: none;

  &:hover,
  &:focus,
  &:active {
    text-decoration: underline;
  }
}
