/*
  Lists are our collection of links.
  It's either a category that a link is part of
  or, when filter or search is applied, a virtual collection of all the results.
*/

.List.is-folded {
  & > .List-Body {
    display: none;
  }
}

.List-Header {
  margin-bottom: ms(-4);
}

.List-Item {
  margin-bottom: ms(-2);
}

.List-Item-Header {
  font-size: ms(1);
}

.List-Item-Title {
  font-style: normal;
}

.List-Item-Author {
  font-size: ms(1);
  font-style: italic;
}

.List-Item-Description {
  font-style: italic;
  font-size: ms(0);
  margin: 0;
}

.List-Item-Tags,
.List-Item-Level {
  font-size: ms(-1);
}