.b-Masthead {
  text-align: left;
  //margin-top: $line-height*4;
  margin-bottom: $line-height;

  /* links */
  & a {
    color: $color-primary-3;

    &:hover,
    &:active,
    &:focus {
      color: $color-primary-0;
    }
  }


  /* breadcrumbs & navigation */
  &__breadcrumbs {
    color: $color-primary-4;
  }

  &__topNav {
    margin-bottom: $line-height*2;

    ul {
      list-style: none;

      li {
        display: inline-block;


      }

      li+li::before {
          content: " | "
      }
    }
  }
}

