.Masthead {
  background-color: #f3df49;
  color: #2e2e2c;

  padding: 0 ms(-1);
  overflow: hidden;
  vertical-align: text-bottom;
}

.Masthead-Logo {
  float: left;
}

.Masthead-Logo-Title {
  margin: 0;
}

.Masthead-Menu {
  float: right;
}