/*
  @include-media breakpoints.
  Those are the defaults, actually, but let's be explicit:
    we'll be using those three keys for all our responsive settings.
*/
$breakpoints: (phone: 320px, tablet: 768px, desktop: 1024px);

/*
  Modular scale base
*/
$ms-base: 16px;
$ms-ratio: 1.618, 1.25;

/*
  Font-awesome settings
*/
$fa-font-path:        "../font-awesome";
