extends ./single.jade
//-
block content__article
    article
        aside.b-Content__meta
            .b-Content__meta-date= cfg.date_short(page.date)
            .b-Content__meta-tags
                each tag in page.tags
                    a.b-post__tag(href = '/tag/' + tag.slug) ##{tag.title}

        != page.content

