doctype html
html.no-js(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    block title
      title= title
    meta(name='description', content='I write as I learn as I go. A blog on web development, technologies involved and problems solved.')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    //link(rel='apple-touch-icon', href='apple-touch-icon.png')
    // Place favicon.ico in the root directory
    link(rel='stylesheet', href='/css/style.css')
    link(rel='alternate' type='application/rss+xml' href='https://#{site.domain}/feed/index.xml')
    //- $FIXME: get rid of index.xml
    script(src='/js/vendor/modernizr-2.8.3.min.js')
  body
    <!--[if lt IE 8]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    // Add your site or application content here
    header#masthead.Masthead(role='banner')
      block header
        hgroup.Masthead-Logo
          .Masthead-Logo-Title= title
          .Masthead-Logo-Subtitle= description
        nav.Masthead-Menu
          span.Masthead-Menu-Item
            a(href='/') Home

    main#content.Content(role='main')
      block content

    footer#colophon.Colophon(role='contentinfo')
      block footer
        span &copy; ’15 Sergey Samokhov aka @hoichi

    //script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js')
    //script.
    //  window.jQuery || document.write('<script src="/js/vendor/jquery-1.11.2.min.js"><\/script>')
    //script(src='/js/plugins.js')
    //script(src='/js/main.js')
