doctype html
html.no-js(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    block title
      title= title
    meta(name='description', content='I write as I learn as I go. A blog on web development, technologies involved and problems solved.')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    //link(rel='apple-touch-icon', href='apple-touch-icon.png')
    // Place favicon.ico in the root directory
    link(rel='stylesheet' href='//cdn.muut.com/1/moot.css')
    //- $FIXME: make a block and add extra styles only where they're needed
    link(rel='stylesheet', href='/css/style.css')
    link(rel='alternate' type='application/rss+xml' href='/feed/')
    script(src='/js/vendor/modernizr-2.8.3.min.js')
    script(src='/js/prism.js')
  body
    <!--[if lt IE 8]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    // Add your site or application content here
    script.
      Prism.highlightAll(false, function () {console.log('#');});
    header.b-Masthead.u-centered(role='banner')
      block header

    main#content.Content.u-centered(role='main')
      block content

    footer#colophon.b-Colophon.u-centered(role='contentinfo')
      block footer
        p.b-Colophon__by By Sergey 'hoichi' Samokhov. Licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International License</a>.
        p.b-Colophon__contacts I'm <a href='//github.com/hoichi'>hoichi</a> at github. Or send me a few lines to <span class='u-quasi-link' title="Yeah, feel free to mail me if you're not a bot. I feel unworthy of talking to AI.">hi at hoichi dot io</span>.
